<p id="notice"><%= notice %></p>

<% @bikes.each do |bike| %>
  <div class="col-md-3">
    <div class="thumbnail">
      <%= link_to bike_path(bike) do %>
      <%= image_tag bike.image.url(:original), style: "height:200px;weight:300px" %>
<% end %>
 
<div class="caption">
<p><strong><%= link_to bike.name, bike_path(bike) %></strong></p>
<p>$<%= bike.price %></p>
</div>
</div>
</div>
    <% end %>


<br>

<%= link_to 'New Bike', new_bike_path %>



